div {
    background-color:inherit;
}

#queue-display {
    padding:0px;
    margin:0px;
    overflow:auto;
}

a {
    text-decoration:none;
}

.floatWithScroll {
    position:fixed;
}

#nowPlaying {
    padding-left: 50px;
}

#videoEntryBox {
    font-size:1.0em;
    width:70%;
}
    
#searchTextBox {
    width: 17em;
    font-size:2em;
}

#searchForm {
    text-align: center;
}

#searchResults {
    padding:5px;
}

#queue-display ul {
    padding:0px;
    margin:0px;
    list-style-type:none;
    display:inline-block;
}

.videoResult:hover {
    background-color:grey;
}

#currentVideo {
    background-color:orange;
}

#playerControls {
    text-align:center;
}
#videoEntry {
    text-align:center;
}

.controls {
    font-size: 3em;
    padding:.2em;
}

.controls:hover {
    background:lightgrey;
}